.grid {
  margin: 0 15px 15px;
  padding: 15px;

  border: 1px solid #f2f2f2;
  border-radius: 10px;

  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  justify-content: center;
  gap: 8px;
}

.img_grid {
  width: 150px;
  height: 150px;

  cursor: pointer;
  border-radius: 20px;
  transition: all .2s;

  &:hover {
    transform: scale(1.03);
    filter: blur(1.1px);
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .3);
  }
}

.title {
  font-weight: 600;
  margin: 20px 0;
  text-align: center;
}

.search_container {
  max-width: 500px;
  margin: 0 auto;
}

.input_container {
  max-width: 142px;
  margin: 0 auto 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: 10px;

  transition: all .2s;

  &.error {
    border: 1px solid rgba(#ff6b63, .5);
    box-shadow: 0 5px 5px -5px rgba(#ff6b63, .5);
  }

  &:hover, &:focus {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .06),
    0 0 8px rgba(#007FFF, .4);
  }
}

.search_input {
  width: 80px;
  padding: 10px 15px;

  font-weight: 600;
  font-size: 24px;

  text-align: center;
  outline: none;
  border: none;
  border-radius: 10px;
}

.search_button {
  padding: 10px 13px 10px 0;

  outline: none;
  border: none;
  border-radius: 10px;
  background-color: transparent;

  display: flex;
  align-items: center;
  transition: all .2s;

  &::before {
    content: '';
    display: block;
    width: 2px;
    height: 28px;
    margin-right: 15px;
    background-color: #f2f2f2;
  }

  &:disabled {
    cursor: default;
    opacity: .3;
  }
  
  &:active {
    img {
      animation: shake .3s;
    }
  }
}

@keyframes shake {
  0% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(0);
  }
}

.error_message {
  margin-bottom: 20px;
  font-weight: 600;

  color: #ff6b63;
  text-align: center;
}