.error {
  margin-bottom: 15px;

  color: #ff6b63;
  font-size: 14px;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text_field {
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;

  border: none;
  border-bottom: 1px solid #f2f2f2;
  text-align: center;
  transition: all .2s ease-out;
}

.add_button {
  width: 100px;
  height: 28px;
  font-weight: 600;

  border: none;
  outline: none;

  border-radius: 5px;
  background-color: rgba(#f2f2f2, .7);
  transition: all .2s;

  &:hover, &:focus {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .06),
    0 0 8px rgba(#007FFF, .4);
  }
}